.register-button {
  min-width: 14.4rem;
}

.pgn__form-autosuggest__wrapper > .pgn__form-group {
  margin-bottom: 0 !important;
}

.email-suggestion-alert-error  {
  padding: 0.5rem 1rem;

  .email-suggestion__close {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .email-suggestion__text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .alert-link  {
    color: $primary !important;

    &:hover {
      text-decoration: underline;
      color: $info-700 !important;
    }
  }
}

.email-suggestion-alert-warning {
  color: $info-500 !important;

  &:hover {
    text-decoration: underline;
    color: $info-700 !important;
  }
}

.form-field--checkbox {
  .pgn__form-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  margin-left: 3px;
}

.username-suggestions--chip {
  padding: 1px 0.5rem;
  margin: 0.25rem;
  border-radius: 0.375rem;
  line-height: 24px;
  font-size: 12px;
  font-weight: normal;
  color: $primary-700;
}

.username-suggestion--label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-right: 0.25rem;
}

.username-suggestions {
  position: relative;
  margin-top: -8.7%;
  margin-left: 15px;
}

.username-suggestions__close__button {
  right: 1rem;
  position: absolute;
}

.username-suggestions__error {
  position: relative;
  margin-top: -13.7%;
  margin-bottom: 11%;
  margin-left: 15px;
}

.username-scroll-suggested--form-field {
  width: 21rem;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-flex;
}

// Code below added by Skills Network (Efkan)

#registration-form {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(0,1fr));
}

.small-margin-top {
  margin-top: 1rem;
}

.small-margin-bottom {
  margin-bottom: 1rem;
}

.contain-and-center {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#register-user {
  width: 25rem; // Same width as input forms
  margin-bottom: 1rem;
}

.input-form-width {
  width: 25rem; // Same width as input forms
}

#honor-code{
  margin-top: 0.5rem;
  font-size: 0.75rem;
  width: 25rem;
  text-align: left;
  color: #9ca3af;
}

.underlined{
  text-decoration: underline;
}

.gray-text {
  color: #7f7f7f;
}

.gray-text-light {
  color: #9ca3af;
}

.login-page-box {
  font-size: 0.9rem;
}

#login-page-link {
  color: #f39c12;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 600;
}

#login-page-link:hover {
  color: purple;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.grid-1 {
  width: 100%;
  display: grid !important;
  gap: 5px;
  grid-template-columns: repeat(1, minmax(0,1fr));
  place-items: center;
}

.grid-2 {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, minmax(0,1fr));
  padding: 10px;
  place-items: center;
}

.full-width {
  width: 100%;
}